.product-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 100px;
   
    
  }
  
  /* Дополнительные стили для адаптивности */
  @media (max-width: 768px) {
    .product-list {
      /* justify-content: center; */
    }
  }
  .mainProduct-list{
    display: flex;
    justify-content: center;
    
  }
