.title {
  border: 5px solid hsl(20, 83%, 57%);
  border-radius: 10px;
  color: rgb(77, 203, 242);
  font-weight: bold;
  text-align: center;
  width: 550px;
 
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}
.dop {
  color: black;
  font-size: 18px;
}
